@import "yasb_colors.css";

/* Root Variables */
:root {

    --icons-font: "Segoe Fluent Icons";
    --icons-font-fallback: "JetBrainsMono NFP", "JetBrainsMono Nerd Font Propo";
    --system-font: "Segoe UI Variable", "Segoe UI";
    --specialFont: "Segoe UI Variable", "Segoe UI";
    --border-radius: 12;
    --border-radius2: 4;
    --border-radius3: 8;
    --border-radiusWallpapers: 0;
    --fontSize: 12px;
    --iconSize: 16px;
    --fontSizeLarge: 16px;
    --fontWeight: 600;

    /*colors*/

    /* Translucent theme*/
    --background: rgba(255, 255, 255, 0.6);
    --background2: rgba(170, 170, 170, 0.5);
    --accent: var(--yasb-accent-light1);
    --text: rgba(24, 24, 27, 1);
    --accentText: rgba(24, 24, 27, 1);
    --hover: rgba(190, 190, 190, 0.4);
    --mutedBG: rgba(164, 164, 164, 0.4);
    --border: rgba(255, 255, 255, 0.3);
    --redFlash: rgba(137, 137, 137, 0.9);
    --subtext: rgba(90, 90, 90, 1);
    --accentHover: var(--yasb-accent);
    --audio: var(--yasb-accent-dark2);

    /* Translucent dark theme*/
    --backgroundDark: rgba(44, 44, 44, 0.4);
    --background2Dark: rgba(255, 255, 255, 0.0605);
    --accentDark: var(--yasb-accent-dark1);
    --textDark: rgba(255, 255, 255, 1);
    --accentTextDark: rgba(255, 255, 255, 1);
    --hoverDark: rgba(255, 255, 255, 0.0837);
    --mutedBGDark: rgba(255, 255, 255, 0.0419);
    --borderDark: rgba(255, 255, 255, 0.0698);
    --redFlashDark: rgba(255, 255, 255, 0.1581);
    --subtextDark: rgba(255, 255, 255, 0.786);
    --accentHoverDark: var(--yasb-accent);
    --audioDark: var(--yasb-accent-light2);

}

/* Global Defaults */
* {
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    font-family: var(--system-font);
    color: var(--text);
}


/* Bar */
.yasb-bar {
    background-color: var(--background);
    padding: 0px 14px;
    border-top: 1px solid var(--border);
}

.dark.yasb-bar {
    background-color: var(--backgroundDark);
    border-top: 1px solid var(--borderDark);
}

/* Tooltip */
.tooltip {
    background-color: var(--background);
    border-radius: var(--border-radius);
    color: var(--text);
    padding: 5px 10px;
    font-size: var(--fontSize);
    font-family: var(--system-font);
    font-weight: var(--fontWeight);
    margin-top: 4px;
    border: 1px solid var(--border);
}

.dark.tooltip {
    background-color: var(--backgroundDark);
    border-radius: var(--border-radius);
    color: var(--textDark);
    padding: 5px 10px;
    font-size: var(--fontSize);
    font-family: var(--system-font);
    font-weight: var(--fontWeight);
    margin-top: 4px;
    border: 1px solid var(--borderDark);
}


/* Context Menu */
.context-menu,
.context-menu .menu-checkbox {
    background-color: var(--background);
    border: 1px solid var(--border);
    padding: 4px 0px;
    font-family: var(--system-font);
    font-weight: var(--fontWeight);
    font-size: var(--fontSize);
    color: var(--text);
}

.dark.context-menu,
.dark.context-menu .menu-checkbox {
    background-color: var(--backgroundDark);
    color: var(--textDark);
    border: 1px solid var(--borderDark);
}

.context-menu {
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
}

.dark.context-menu {
    border: 1px solid var(--borderDark);
}

.context-menu::right-arrow {
    width: 8px;
    height: 8px;
    padding-right: 24px;
}

.context-menu::item,
.context-menu .menu-checkbox {
    background-color: transparent;
    padding: 6px 12px;
    margin: 2px 6px;
    border-radius: var(--border-radius);
    min-width: 100px;
}
.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
    background-color: var(--hover);
    color: var(--text);
}

.dark.context-menu::item:selected,
.dark.context-menu .menu-checkbox:hover {
    background-color: var(--hoverDark);
    color: var(--textDark);
}

.context-menu::separator {
    height: 1px;
    background-color: var(--background2);
    margin: 4px 8px;
}

.dark.context-menu::separator {
    background-color: var(--background2Dark);
}

.context-menu::item:disabled {
    color: var(--subtext);
    background-color: transparent;
}

.dark.context-menu::item:disabled {
    color: var(--subtextDark);
}

.context-menu .menu-checkbox .checkbox {
    border: none;
    padding: 8px 16px;
    font-size: var(--fontSize);
    margin: 0;
    color: var(--text);
    font-family: var(--system-font);
    font-weight: var(--fontWeight);
}

.dark.context-menu .menu-checkbox .checkbox {
    color: var(--textDark);
}

.context-menu .submenu::item:disabled {
    margin: 0;
    padding-left: 16px;
}
.context-menu .menu-checkbox .checkbox:unchecked {
    color: var(--text);
}

.dark.context-menu .menu-checkbox .checkbox:unchecked {
    color: var(--textDark);
}

.context-menu .menu-checkbox .checkbox::indicator {
    width: 12px;
    height: 12px;
    margin-left: 0px;
    margin-right: 8px;
}
.context-menu .menu-checkbox .checkbox::indicator:unchecked {
    background: var(--mutedBG);
    border-radius: 2px;
}

.dark.context-menu .menu-checkbox .checkbox::indicator:unchecked {
    background: var(--mutedBGDark);
}

.context-menu .menu-checkbox .checkbox::indicator:checked {
    background: var(--accent);
    border-radius: 2px;
}

.dark.context-menu .menu-checkbox .checkbox::indicator:checked {
    background: var(--accentDark);
}

.context-menu .menu-checkbox .checkbox:focus {
    outline: none;
}


/* Base Widget Styles */
.widget {
    padding-left: 3px;
    padding-right: 3px;
    margin: 0px 3px;
    border-radius: var(--border-radius);
    border: 0px solid var(--border);
}

.dark .widget {
    border: 0px solid var(--borderDark);
}

.widget .icon {
    font-size: var(--iconSize);
    font-weight: var(--fontWeight);
    color: var(--text);
    font-family: var(--icons-font-fallback);
}

.dark .widget .icon {
    color: var(--textDark);
}

.widget .label {
    color: var(--text);
    font-weight: var(--fontWeight);
    padding-bottom: 0px;
}

.dark .widget .label {
    color: var(--textDark);
}

/* Home Menu */
.home-widget .icon {
    font-family: var(--icons-font-fallback);
    font-size: var(--fontSize);
    font-weight: bold;
    padding-bottom: 0px;
    padding-right: 4px;
}

.home-menu {
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}

.dark .home-menu {
    background-color: var(--backgroundDark);
    border: 1px solid var(--borderDark);
}

.home-menu .menu-item {
    color: var(--text);
    padding: 8px 48px 8px 16px;
    font-family: var(--system-font);
    font-weight: var(--fontWeight);
}

.dark .home-menu .menu-item {
    color: var(--textDark);
}

.home-menu .menu-item:hover {
    background-color: var(--hover);
    color: var(--text);
    border-radius: var(--border-radius2);
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.dark .home-menu .menu-item:hover {
    background-color: var(--hoverDark);
    color: var(--textDark);
}

.home-menu .separator {
    max-height: 0px;
    background-color: var(--background2);
}

.dark .home-menu .separator {
    background-color: var(--background2Dark);
}


/* Clock */
.clock-widget .icon.alarm {
    padding-left: 4px;
    padding-right: 4px;
}

.clock-widget .label {
    padding-bottom: 2px;
}


.clock-popup.alarm,
.clock-popup.timer,
.clock-popup.calendar {
    min-width: 460px;
    background-color: var(--background);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
}

.dark .clock-popup.alarm,
.dark .clock-popup.timer,
.dark .clock-popup.calendar {
    background-color: var(--backgroundDark);
    border: 1px solid var(--borderDark);
}

.clock-popup.calendar .calendar-table,
.clock-popup.calendar .calendar-table::item {
    color: var(--text);
    font-family: var(--system-font);
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

.dark .clock-popup.calendar .calendar-table,
.dark .clock-popup.calendar .calendar-table::item {
    color: var(--textDark);
}

.clock-popup.calendar .calendar-table::item:selected {
    color: var(--accentText);
    font-weight: bold;
    background-color: var(--accent);
    border-radius: var(--border-radius);
}

.dark .clock-popup.calendar .calendar-table::item:selected {
    color: var(--accentTextDark);
    background-color: var(--accentDark);
}

.clock-popup.calendar .day-label {
    margin-top: 20px;
}
.clock-popup.calendar .day-label,
.clock-popup.calendar .month-label,
.clock-popup.calendar .year-label,
.clock-popup.calendar .date-label {
    font-family: var(--system-font);
    font-size: var(--iconSize);
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}
.clock-popup.calendar .month-label {
    font-weight: normal;
}
.clock-popup.calendar .year-label {
    font-weight: normal;
}
.clock-popup.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    margin-top: -20px;
}

.dark .clock-popup.calendar .month-label {
    color: var(--textDark);
}
.dark .clock-popup.calendar .year-label {
    color: var(--textDark);
}
.dark .clock-popup.calendar .date-label {
    color: var(--textDark);
}

.dark .clock-popup.calendar .day-label {
    color: var(--textDark);
}

.dark .clock-popup.calendar .week-label {
    color: var(--textDark);
}

/* Volume */

.volume-widget .icon {
    font-family: var(--icons-font-fallback);
    padding-right: 5px;
    padding-top: 1px;
}

.volume-widget .label {
    padding-bottom: 1px;
}

.audio-menu {
    background-color: var(--background); 
    border: 1px solid var(--border);
    min-width: 300px;
    border-radius: var(--border-radius);
}

.dark .audio-menu {
    background-color: var(--backgroundDark); 
    border: 1px solid var(--borderDark);
}

/* System volume */
.audio-menu .system-volume-container .volume-slider {
    border: none;
}

.volume-widget .progress-container {
    background-color: var(--accent);
} 

.dark .volume-widget .progress-container {
    background-color: var(--accentDark);
} 

/* Device list styles */
.audio-menu .audio-container .device {
    background-color:transparent;
    border: none;
    padding:6px 8px 6px 4px;
    margin: 2px 0;
    font-size: var(--fontSize);
    border-radius: var(--border-radius2);
}
.audio-menu .audio-container .device.selected {
    background-color: var(--background2);
    color: var(--text);
}

.dark .audio-menu .audio-container .device.selected {
    background-color: var(--background2Dark);
    color: var(--textDark);
}

.dark .audio-menu .audio-container .device {
    color: var(--textDark);
}

.audio-menu .audio-container .device:hover {
    background-color: var(--hover);
    color: var(--text);
}

.dark .audio-menu .audio-container .device:hover {
    background-color: var(--hoverDark);
    color: var(--textDark);
}

.audio-menu .audio-container .device.selected:hover {
    background-color: var(--hover);
    color: var(--text);
}

.dark .audio-menu .audio-container .device.selected:hover {
    background-color: var(--hoverDark);
    color: var(--textDark);
}


/* Toggle button for application volumes (if is enabled) */
.audio-menu .toggle-apps {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    min-height: 24px;
    min-width: 24px;
    border-radius: 4px;
}

.dark .audio-menu .toggle-apps {
    color: var(--textDark);
}

.audio-menu .toggle-apps.expanded {
    background-color: transparent;
}
.audio-menu .toggle-apps:hover {
    background-color: var(--hover);
}

.dark .audio-menu .toggle-apps:hover {
    background-color: var(--hoverDark);
}

/* Container for application volumes (if is enabled) */
.audio-menu .apps-container {
    padding: 8px;
    margin-top:10px;
    border-radius: 8px;
}
.audio-menu .apps-container .app-volume .app-icon-container {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: var(--border-radius);
    margin-right: 8px;
}

.dark .audio-menu .apps-container .app-volume .app-label {
    color: var(--textDark);
}

.audio-menu .apps-container .app-volume .app-icon-container:hover {
    background-color: var(--hover);
}

.dark .audio-menu .apps-container .app-volume .app-icon-container:hover {
    background-color: var(--hoverDark);
}

/* Komorebi Workspaces */
/*Style for widget.*/
.komorebi-workspaces {
    padding-left: 0px;
    padding-right: 0px;
}

/*Style for buttons.*/
.komorebi-workspaces .ws-btn {
    padding: 4px 16px;
    border: none;
}

.dark .komorebi-workspaces .ws-btn {
    color: var(--textDark);
}

/*Style for buttons which contain window and are not empty.*/
.komorebi-workspaces .ws-btn.populated {
    padding: 4px 10px;
} 

/*Style for the active workspace button.*/
.komorebi-workspaces .ws-btn.active {
    padding: 4px 16px;
    padding-left: 10;
    padding-right: 10;
    border-radius: 0;
    border-bottom: 1px solid var(--text);
    color: var(--text);
} 

.dark .komorebi-workspaces .ws-btn.active {
    border-bottom: 1px solid var(--textDark);
    color: var(--textDark);
} 


/* Komorebi-active-layout */
.komorebi-active-layout {}
.komorebi-active-layout .widget-container {}
.komorebi-active-layout .label {
    font-family: var(--system-font);
    padding-bottom: 1px;
}

/* Komorebi-layout-menu */
.komorebi-layout-menu {
    background-color: var(--background);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
}

.dark .komorebi-layout-menu {
    background-color: var(--backgroundDark);
    border: 1px solid var(--borderDark);
}

.komorebi-layout-menu .menu-item {
    padding: 8px 16px;
    font-size: var(--fontSize); 
    font-weight: var(--fontWeight);
    margin: 1 1px;
}

.komorebi-layout-menu .menu-item-icon {
    color: var(--text);
    font-size: var(--iconSize);
}

.dark .komorebi-layout-menu .menu-item-icon {
    color: var(--textDark);
}

.komorebi-layout-menu .menu-item-text {
    font-family: var(--system-font);
    padding-left:4px;
    font-size: var(--fontSize);
} 

.dark .komorebi-layout-menu .menu-item-text {
    color: var(--textDark);
} 

.komorebi-layout-menu .menu-item:hover {
    background-color: var(--hover);
    border-radius: var(--border-radius);
} 

.dark .komorebi-layout-menu .menu-item:hover {
    background-color: var(--hoverDark);
} 

.komorebi-layout-menu .separator {
    max-height: 0px;
    background-color: var(--border);
}

/* Systray */
/* Icon being dragged, we already apply some transparency to it so you don't need to use it */

.dark .systray .unpinned-visibility-btn {
    color: var(--textDark);
}

.systray .pinned-container.drop-target {
    background: var(--background);
}

.dark .systray .pinned-container.drop-target {
    background: var(--backgroundDark);
}

.systray .unpinned-visibility-btn {
    border: none;
    outline: none;
    font-size: var(--fontSizeLarge)
}

.systray-popup {
    background-color: var(--background);
    padding: 4px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
}

.dark .systray-popup {
    background-color: var(--backgroundDark);
    border: 1px solid var(--borderDark);
}

.systray-popup .button {
    padding: 12px;
    margin: 0;
    border: 0;
    border-radius: var(--border-radius);
}

.systray-popup .button:hover {
    background-color: var(--hover);
    border-radius: var(--border-radius2);
}

.dark .systray-popup .button:hover {
    background-color: var(--hoverDark);
}


/* notification-widget */
.notification-widget .icon {
    color: var(--text);
}

.media-widget .label {
    padding-bottom: 2px;
}

/* Media-Widget-Popup */
.media-menu {
    min-width: 440px;
    max-width: 440px;
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}

.dark .media-menu {
    background-color: var(--backgroundDark);
    border: 1px solid var(--borderDark);
}

.media-menu .title,
.media-menu .artist,
.media-menu .source {
    font-size: 14px;
    font-weight: var(--fontWeight);
    margin-left: 10px;
    font-family: var(--system-font);
    color: var(--text);
}

.dark .media-menu .title,
.dark .media-menu .artist,
.dark .media-menu .source {
    color: var(--textDark);
}

.media-menu .artist {
    font-size: 13px;
    color: var(--subtext);
    margin-top: 0px;
}

.dark .media-menu .artist {
    color: var(--subtextDark);
}

.media-menu .source {
    font-size: 11px;
    color: var(--accentText);
    border-radius: 3px;
    background-color: var(--accent);
    padding: 2px 4px;
    font-weight: var(--fontWeight);
    font-family: var(--system-font);
    margin-top: 10px;
}

.dark .media-menu .source {
    color: var(--accentTextDark);
    background-color: var(--accentDark);
}

/* The source class name is the same as what you see in the media widget; just replace spaces with dashes and convert it to lowercase. 
Example: "Windows Media" becomes "windows-media" */
.media-menu .source.aimp {
    background-color: #6f42c1;
    color: #ffffff;
}
.media-menu .source.apple-music {
    background-color: #fa2b56;
    color: #ffffff;
}
.media-menu .source.brave {
    background-color: #fb542b;
    color: #ffffff;
}
.media-menu .source.chrome {
    background-color: #4285f4;
    color: #ffffff;
}
.media-menu .source.edge {
    background-color: #0078d4;
    color: #ffffff;
}
.media-menu .source.firefox {
    background-color: #ff7139;
    color: #ffffff;
}
.media-menu .source.foobar2000 {
    background-color: #444444;
    color: #ffffff;
}
.media-menu .source.media-player {
    background-color: #0078d4;
    color: #ffffff;
}
.media-menu .source.murglar {
    background-color: #8a8a8a;
    color: #ffffff;
}
.media-menu .source.musicbee {
    background-color: #ffcc00;
    color: #000000;
}
.media-menu .source.nsmusics {
    background-color: #e64a19;
    color: #ffffff;
}
.media-menu .source.opera {
    background-color: #ff1b2d;
    color: #ffffff;
}
.media-menu .source.qobuz {
    background-color: #003a6f;
    color: #ffffff;
}
.media-menu .source.spotify {
    background-color: #1db954;
    color: #ffffff;
}
.media-menu .source.tidal {
    background-color: #000000;
    color: #ffffff;
}
.media-menu .source.winamp {
    background-color: #f1a11b;
    color: #000000;
}
.media-menu .source.youtube {
    background-color: #ff0000;
    color: #ffffff;
}
.media-menu .source.youtube-music {
    background-color: #c51f1f;
    color: #ffffff;
}
.media-menu .source.zen {
    background-color: #2ecc71;
    color: #000000;
}

.media-menu .btn {
    font-family: var(--icons-font);
    font-size: 14px;
    font-weight: var(--fontWeight);
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 2px;
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    border-radius: var(--border-radius3);
    color: var(--accentText);
    background-color: var(--accent);
}

.dark .media-menu .btn {
    color: var(--accentTextDark);
    background-color: var(--accentDark);
}

.media-menu .btn.prev {
    margin-left: 10px;
}
.media-menu .btn:hover {
    color: var(--accentText);
    background-color: var(--accentHover);
}

.dark .media-menu .btn:hover {
    color: var(--accentTextDark);
    background-color: var(--accentHoverDark);
}

.media-menu .btn.play {
    font-size: 20px;
}

.media-menu .btn.disabled {
    background-color: var(--mutedBG);
    color: var(--subtext);
}

.dark .media-menu .btn.disabled {
    background-color: var(--mutedBGDark);
    color: var(--subtextDark);
}

.media-menu .playback-time {
    font-size: 13px;
    font-family: var(--system-font);
    color: var(--subtext);
    margin-top: 20px;
    min-width: 100px;
}

.dark .media-menu .playback-time {
    color: var(--subtextDark);
}

.media-menu .progress-slider {
    height: 10px;
    margin: 5px 4px;
    border-radius: 3px;
}

.media-menu .progress-slider::groove {
    background: transparent;
    height: 2px;
    border-radius: 3px;
    background: var(--background2);
}

.dark.media-menu .progress-slider::groove {
    background: var(--background2Dark);
}

.media-menu .progress-slider::groove:hover {
    background: transparent;
    height: 6px;
    border-radius: 3px;
    background: var(--background2);
}

.dark .media-menu .progress-slider::groove:hover {
    background: var(--background2Dark);
}

.media-menu .progress-slider::sub-page {
    background: var(--accent);
    border-radius: 3px;
    height: 4px;
}

.dark .media-menu .progress-slider::sub-page {
    background: var(--accentDark);
}


/* Language-Widget */

.language-menu {
    background-color: var(--background);
    min-width: 300px;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}

.dark .language-menu {
    background-color: var(--backgroundDark);
    border: 1px solid var(--borderDark);
}

.language-widget .label {
    padding-bottom: 2px;
}

.language-menu .header {
    color: transparent;
    padding-bottom: -12px;
}
.language-menu .footer {
    color: transparent;
    padding-top: -12px;
}

.language-menu .language-item {
    padding: 6px 12px;
    margin: 2px 6px;
    border-radius: var(--border-radius2);
}
.language-menu .language-item.active {
    background-color: var(--background2);
    border-radius: 4px;
    border-radius: var(--border-radius3);
}

.dark .language-menu .language-item.active {
    background-color: var(--background2Dark);
    color: var(--textDark);
}

.language-menu .language-item:hover {
    background-color: var(--hover);
    color: var(--text);
    border-radius: var(--border-radius3);
}

.dark .language-menu .language-item:hover {
    background-color: var(--hoverDark);
}

.language-menu .language-item.active:hover {
    background-color: var(--hover);
    border-radius: 4px;
    border-radius: var(--border-radius3);
}

.dark .language-menu .language-item.active:hover {
    background-color: var(--hoverDark);
}

.language-menu .language-item .code {
    font-weight: 900;
    font-size: 14px;
    min-width: 40px;
    text-transform: uppercase;
}
.language-menu .language-item .icon {
    font-size: var(--iconSize);
    margin-right: 8px;
    color: var(--text);
}

.dark .language-menu .language-item .icon {
    color: var(--textDark);
}

.language-menu .language-item .name {
    font-weight: var(--fontWeight);
    font-family: var(--system-font);
    font-size: 14px;
}
.language-menu .language-item .layout {
    font-weight: var(--fontWeight);
    font-family: var(--system-font);
    font-size: var(--fontSize);
}

.dark .language-menu .language-item .layout {
    color: var(--textDark);
}

.dark .language-menu .language-item .name {
    color: var(--textDark);
}

/* Launcher */
/* Quick Launch Widget */
.quick-launch-widget .icon {
	font-size: var(--fontSize);
	padding: 0 4px;
}


/* Quick Launch Popup - main window */

.quick-launch-popup .container {
	background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}

.dark .quick-launch-popup .container {
	background-color: var(--backgroundDark);
    border: 1px solid var(--borderDark);
}

/* Search bar container */
.quick-launch-popup .search {
	padding: 12px 16px;
	background-color: transparent;
	border-bottom: 1px solid var(--background2);
}

.dark .quick-launch-popup .search {
	border-bottom: 1px solid var(--background2Dark);
}

/* Search loader line color */
.quick-launch-popup .search .loader-line {
	color: #449bff;
}
.quick-launch-popup .search .search-icon {
	font-family: var(--icons-font);
	font-size: 18px;
	color: var(--text);
	padding-right: 8px;
	min-width: 18px;
}

.dark .quick-launch-popup .search .search-icon {
	color: var(--textDark);
}

.quick-launch-popup .search .search-submit-icon {
	font-family: var(--icons-font);
	font-size: 18px;
	color: var(--text);
	min-width: 18px;
}

.dark .quick-launch-popup .search .search-submit-icon {
	color: var(--textDark);
}

.quick-launch-popup .search .search-input {
	background: transparent;
	border: none;
	color: var(--text);
	font-size: var(--iconSize);
	font-family: var(--system-font);
	font-weight: var(--fontWeight);
	padding: 4px 0;
}

.dark .quick-launch-popup .search .search-input {
	color: var(--textDark);
}

/* Search prefix styling (e.g., ">" for commands) */
.quick-launch-popup .search .prefix {
	background: #2167d8;
	border-radius: 6px;
	color: var(--text);
	padding: -2px 8px 0px 8px;
	margin-top: 2px;
	margin-right: 4px;
	font-size: 13px;
	font-weight: var(--fontWeight);
	font-family: var(--system-font);
	max-height: 28px;
}

.dark .quick-launch-popup .search .prefix {
	color: var(--textDark);
}


/* Results list */
.quick-launch-popup .results {
	background: transparent;
	padding: 8px;
}
/* Individual result item here you can set font szie for title */
.quick-launch-popup .results-list-view {
	font-size: var(--fontSizeLarge);
	font-family: var(--system-font);
	font-weight: var(--fontWeight);
	color: var(--text);
}

.dark .quick-launch-popup .results-list-view {
	color: var(--textDark);
}

.quick-launch-popup .results-list-view .description {
	color: var(--subtext);
	font-size: 11px;
	font-family: var(--system-font);
	font-weight: var(--fontWeight);
}

.dark .quick-launch-popup .results-list-view .description {
	color: var(--subtextDark);
}

.quick-launch-popup .results-list-view .separator {
    color: var(--border);
    font-size: 13px;
    font-family: var(--system-font);
    font-weight: var(--fontWeight);
    padding: 4px 0 4px 12px;
}

.dark .quick-launch-popup .results-list-view .separator {
    color: var(--borderDark);
}

/* Result item hover and selected states */
.quick-launch-popup .results-list-view::item {
	padding: 10px;
    margin-top: 4px;
	border-radius: var(--border-radius);
    margin-left: 4px;
    margin-right: 4px;
}
.quick-launch-popup .results-list-view::item:hover {
    background-color: var(--hover);
}

.dark .quick-launch-popup .results-list-view::item:hover {
    background-color: var(--hoverDark);
}

.quick-launch-popup .results-list-view::item:selected {
	background-color: var(--background2);
    border-radius: var(--border-radius);
}

.dark .quick-launch-popup .results-list-view::item:selected {
	background-color: var(--background2Dark);
}

.quick-launch-popup .results-list-view::item:selected:hover {
    background-color: var(--hover);
}

.dark .quick-launch-popup .results-list-view::item:selected:hover {
    background-color: var(--hoverDark);
}

/* Empty state when no results found */
.quick-launch-popup .results-empty-text {
	font-size: 24px;
	font-family: var(--system-font);
	color: var(--text);
	padding-top: 8px;
}

.dark .quick-launch-popup .results-empty-text {
	color: var(--textDark);
}


/* Separator_widget */
.separator-widget .widget-container .label{
    margin-left: -1px;
    margin-right: -1px;
    font-family: var(--icons-font-fallback);
}


/* Taskbar widget */
.taskbar-widget .app-container {
    margin: 4px 2px;
    border-radius: var(--border-radius);
    padding: 0 4px;
    border: 1px solid var(--border);
}

.dark .taskbar-widget .app-container {
    border: 1px solid var(--borderDark);
}

.taskbar-widget .app-container .app-title {
    padding-bottom: 2px;
    padding-left: 4px;
}

.dark .taskbar-widget .app-container .app-title {
    color: var(--textDark);
}

.taskbar-widget .app-container.foreground {
    background-color: var(--background);
}

.dark .taskbar-widget .app-container.foreground {
    background-color: var(--backgroundDark);
}

.taskbar-widget .app-container.flashing {
    background-color: var(--redFlash);
}

.dark .taskbar-widget .app-container.flashing {
    background-color: var(--redFlashDark);
}

.taskbar-widget .app-container.flashing .app-title:hover {
    color: var(--text);
}

.dark .taskbar-widget .app-container.flashing .app-title:hover {
    color: var(--textDark);
}

.taskbar-widget .app-container.flashing .app-title {
    color: var(--text);
}

.dark .taskbar-widget .app-container.flashing .app-title {
    color: var(--textDark);
}

.taskbar-widget .app-container.running {
    background-color: var(--background2);
}

.dark .taskbar-widget .app-container.running {
    background-color: var(--background2Dark);
}

.taskbar-widget .app-container:hover {
    background-color: var(--hover);
}

.dark .taskbar-widget .app-container:hover {
    background-color: var(--hoverDark);
}


/* Taskbar preview popup is very limited in styling options, do not use margins/paddings here */
.taskbar-preview {
    border-radius: var(--border-radius); 
    background-color: var(--background2); 
    border: 1px solid var(--border);
}

.dark .taskbar-preview {
    background-color: var(--background2Dark); 
    border: 1px solid var(--borderDark);
}

.taskbar-preview.flashing { 
    background-color: var(--background);
}

.dark .taskbar-preview.flashing { 
    background-color: var(--backgroundDark);
}

.taskbar-preview .header {
    padding-bottom: 12px;
    padding-top: 4px;
}
.taskbar-preview .header .title {
    color: var(--text);
    font-family: var(--system-font);
    font-weight: var(--fontWeight);
    font-size: 13px;
}

.dark .taskbar-preview .header .title {
    color: var(--textDark);
}

.taskbar-preview .close-button {
    color: var(--text);
    font-size: 20px;
    background-color: transparent;
    border: none;
    min-width: 20px;
    border-radius: var(--border-radius);
    min-height: 20px;
}

.dark .taskbar-preview .close-button {
    color: var(--textDark);
}

.taskbar-preview .close-button:hover {
    color: var(--text);
    background-color: var(--hover);
}

.dark .taskbar-preview .close-button:hover {
    color: var(--textDark);
    background-color: var(--hoverDark);
}

/* CPU widget */
.cpu-widget .widget-container .icon {
    padding-bottom: 1px;
}

.cpu-widget .widget-container .label {
    padding-left: 4px;
    padding-bottom: 2px;
}
.cpu-widget .widget-container .label.alt {
    padding-left: 4px;
    padding-bottom: 2px;
}

.cpu-widget {
    border: none;
}

.cpu-popup {
    background-color: var(--background);
    min-width: 400px;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}

.dark .cpu-popup {
    background-color: var(--backgroundDark);
    border: 1px solid var(--borderDark);
}

.cpu-popup .header {
    background: transparent;
    padding: 12px 16px;
    color: var(--text);
}

.cpu-popup .header .text {
    font-size: 16px;
    font-family: var(--system-font);
    color: var(--text);
}

.dark .cpu-popup .header .text {
    color: var(--textDark);
}

.cpu-popup .header .pin-btn {
    font-size: var(--fontSize);
    background: transparent;
    font-family: "Segoe Fluent Icons";
    padding: 6px;
    color: var(--text);
}

.dark .cpu-popup .header .pin-btn {
    color: var(--textDark);
}

.cpu-popup .header .pin-btn:hover {
    color: var(--hover);
}

.dark .cpu-popup .header .pin-btn:hover {
    color: var(--hoverDark);
}

.cpu-popup .header .pin-btn.pinned {
    color: var(--accent);
}

.dark .cpu-popup .header .pin-btn.pinned {
    color: var(--accentDark);
}

/* Graph area */
.cpu-popup .graph-container {
    background:  transparent;
    min-height: 64px;
}
.cpu-popup .cpu-graph {
    color: var(--accent);   /* <-- set the graph line/fill color */
}

.dark .cpu-popup .cpu-graph {
    color: var(--accentDark);   /* <-- set the graph line/fill color */
}

.cpu-popup .cpu-graph-grid {
    color: var(--background2);  /* set the grid line color */
}

.dark .cpu-popup .cpu-graph-grid {
    color: var(--background2Dark);  /* set the grid line color */
}

.cpu-popup .graph-title {
    font-size: 12px;
    color: var(--text);
    font-family: var(--system-font);
    padding: 0px 0px 4px 14px;
}

.dark .cpu-popup .graph-title {
    color: var(--textDark);
}

/* Stats grid */
.cpu-popup .stats {
    background: transparent;
    padding: 16px;
}
.cpu-popup .stats .stat-item {
    background-color: var(--background2);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    padding: 8px 12px;
    margin: 8px;
}

.dark .cpu-popup .stats .stat-item {
    background-color: var(--background2Dark);
    border: 1px solid var(--borderDark);
}

.cpu-popup .stats .stat-label {
    font-size: 13px;
    color: var(--text);
    font-family: var(--system-font);
    font-weight: 400;
    padding: 6px 4px 2px 4px;
}

.dark .cpu-popup .stats .stat-label {
    color: var(--textDark);
}

.cpu-popup .stats .stat-value {
    font-size: 20px;
    font-weight: 700;
    color: var(--subtext);
    font-family: var(--system-font);
    padding: 0 4px 12px 4px;
}

.dark .cpu-popup .stats .stat-value {
    color: var(--subtextDark);
}

/* Memory widget */
.memory-widget .widget-container .label {
   padding-left: 4px; 
   padding-bottom: 2px;
}
.memory-widget .widget-container .label.alt {
    padding-left: 4px;
    padding-bottom: 2px;
}
.memory-widget .widget-container .icon {
    padding-bottom: 1px;
}

.memory-widget {
    border: none;
}

.memory-popup {
    background-color: var(--background);
    min-width: 400px;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}

.dark .memory-popup {
    background-color: var(--backgroundDark);
    border: 1px solid var(--borderDark);
}

.memory-popup .header {
    background: transparent;
    padding: 12px 16px;
}
.memory-popup .header .text {
    font-size: 16px;
    font-family: var(--system-font);
    color: var(--text);
}

.dark .memory-popup .header .text {
    color: var(--textDark);
}

.memory-popup .header .pin-btn {
    font-size: 14px;
    background: transparent;
    font-family: "Segoe Fluent Icons";
    border: none;
    padding: 6px;
    color: var(--text);
}

.dark .memory-popup .header .pin-btn {
    color: var(--textDark);
}

.memory-popup .header .pin-btn:hover {
    color: var(--hover);
}

.dark .memory-popup .header .pin-btn:hover {
    color: var(--hoverDark);
}

.memory-popup .header .pin-btn.pinned {
    color: var(--accent)
}

.dark .memory-popup .header .pin-btn.pinned {
    color: var(--accentDark)
}

/* Graph area */
.memory-popup .graph-container {
    background:  transparent;
    min-height: 64px;
}
.memory-popup .memory-graph {
    color: var(--accent);   /* <-- set the graph line/fill color */
}

.dark .memory-popup .memory-graph {
    color: var(--accentDark);   /* <-- set the graph line/fill color */
}

.memory-popup .memory-graph-grid {
    color: var(--background2);  /* set the grid line color */
}

.dark .memory-popup .memory-graph-grid {
    color: var(--background2Dark);  /* set the grid line color */
}

.memory-popup .graph-title {
    font-size: 12px;
    color: var(--text);
    font-family: var(--system-font);
    padding: 0px 0px 4px 14px;
}

.dark .memory-popup .graph-title {
    color: var(--textDark);
}

/* Stats grid */
.memory-popup .stats {
    background: transparent;
    padding: 16px;
}
.memory-popup .stats .stat-item {
    background-color: var(--background2);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    padding: 8px 12px;
    margin: 8px;
}

.dark .memory-popup .stats .stat-item {
    background-color: var(--background2Dark);
    border: 1px solid var(--borderDark);
}

.memory-popup .stats .stat-label {
    font-size: 13px;
    color: var(--text);
    font-family: var(--system-font);
    font-weight: 400;
    padding: 6px 4px 2px 4px;
}

.dark .memory-popup .stats .stat-label {
    color: var(--textDark);
}

.memory-popup .stats .stat-value {
    font-size: 20px;
    font-weight: 700;
    color: var(--subtext);
    font-family: var(--system-font);
    padding: 0 4px 12px 4px;
}

.dark .memory-popup .stats .stat-value {
    color: var(--subtextDark);
}


/* Grouper sysInfo*/
.systeminfo-grouper .container { /* The name of the css class is the name given in the config */
    background-color: transparent;
}

.systeminfo-grouper .grouper-button {
    font-size: var(--iconSize);
    color: var(--text);
    border: none;
    font-family: var(--icons-font);
}

.systeminfo-grouper .grouper-button:hover {
    color: var(--accent);
}

/* Control_Center */
.control-center-widget .icon {
    font-family: var(--icons-font-fallback);
    font-size: var(--iconSize);
}


.control-center-menu {
    background: var(--background);
    min-width: 360px;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}

.dark .control-center-menu {
    background: var(--backgroundDark);
    border: 1px solid var(--borderDark);
}

/* SECTIONS */
/* Left and right padding of 12 px + 4 px margin for quick action and power plan, 
which is 16 pixels same as the other sections. */
.control-center-menu .section {
    background: transparent;
    margin: 0;
    padding: 16px 12px;
    border: none;
}
/* We dont want a padding at the bottom of the first section. */
.control-center-menu .section.system-controls {
    padding: 12px 16px 0 16px;
}
.control-center-menu .section.sliders {
    padding: 16px;
}

/* SHARED SEGOE FLUENT ICONS */
.control-center-menu .section.system-controls .button,
.control-center-menu .section.quick-actions .button .icon,
.control-center-menu .section.sliders .slider .icon,
.control-center-menu .section.sliders .slider .source-selector,
.control-center-menu .section.power .plan-name .icon,
.control-center-menu .section.power .mode-name .icon,
.control-center-menu .section.media .button {
    font-family: "Segoe Fluent Icons";
    font-weight: 400;
}

/* SHARED HOVER & TRANSITION TRANSITIONS */
.control-center-menu .section.quick-actions .button .icon,
.control-center-menu .section.system-controls .button,
.control-center-menu .section.sliders .slider .source-selector,
.control-center-menu .section.power .plan-name,
.control-center-menu .section.power .mode-name,
.control-center-menu .section.media .button {
    transition: background-color 0.08s, opacity 0.08s;
    opacity: 1;
}

/* SHARED CLICKED / PRESSED STATES */
.control-center-menu .section.system-controls .button:clicked,
.control-center-menu .section.system-controls .button:pressed,
.control-center-menu .section.quick-actions .button .icon:clicked,
.control-center-menu .section.quick-actions .button .icon:pressed,
.control-center-menu .section.sliders .slider .source-selector:clicked,
.control-center-menu .section.sliders .slider .source-selector:pressed,
.control-center-menu .section.power .plan-name:clicked,
.control-center-menu .section.power .plan-name:pressed,
.control-center-menu .section.power .mode-name:clicked,
.control-center-menu .section.power .mode-name:pressed,
.control-center-menu .section.media .button:clicked,
.control-center-menu .section.media .button:pressed {
    opacity: 0.5;
}

/* SHARED DISABLED STATES */
.control-center-menu .section.quick-actions .button.disabled .title,
.control-center-menu .section.quick-actions .button.disabled .icon,
.control-center-menu .section.sliders .slider.disabled,
.control-center-menu .section.media .button.disabled,
.control-center-menu .section.media .button.disabled:hover {
    opacity: 0.5;
}

/* SYSTEM CONTROLS */
.control-center-menu .section.system-controls .button {
    background-color: var(--background2);
    border-radius: 16px;
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    font-size: 14px;
    color: var(--text);
    transition: background-color 0.08s, opacity 0.08s;
    border-radius: var(--border-radius);
}

.dark .control-center-menu .section.system-controls .button {
    background-color: var(--background2Dark);
    color: var(--textDark);
}

.control-center-menu .section.system-controls .button.profile-image {
    background-color: transparent;
}

.control-center-menu .section.system-controls .button:hover {
    background-color: var(--hover);
}

.dark .control-center-menu .section.system-controls .button:hover {
    background-color: var(--hoverDark);
}

/* QUICK ACTIONS */

.dark .control-center-menu .section.quick-actions .button .icon {
    color: var(--textDark);
}

.control-center-menu .section.quick-actions .button {
    margin: 0 4px;
    cursor: pointer;
}
.control-center-menu .section.quick-actions .button .icon {
    font-size: 16px;
    background-color: var(--background2);
    min-height: 48px;
    border-radius: var(--border-radius);
    color: var(--text); 
    border: 1px solid var(--border);
}

.dark .control-center-menu .section.quick-actions .button .icon {
    background-color: var(--background2Dark);
    border: 1px solid var(--borderDark);
}

.control-center-menu .section.quick-actions .button .icon:hover {
    background-color: var(--hover);
}

.dark .control-center-menu .section.quick-actions .button .icon:hover {
    background-color: var(--hoverDark);
}

.control-center-menu .section.quick-actions .button.active .icon {
    background-color: var(--accent);
    color: var(--text);
}

.dark .control-center-menu .section.quick-actions .button.active .icon {
    background-color: var(--accentDark);
    color: var(--textDark);
}

.control-center-menu .section.quick-actions .button.active .icon:hover {
    background-color: var(--accentHover);
    color: var(--accentText);
}

.dark .control-center-menu .section.quick-actions .button.active .icon:hover {
    background-color: var(--accentHoverDark);
    color: var(--accentTextDark);
}

.control-center-menu .section.quick-actions .button.disabled .icon:hover {
    background-color: var(--hover);
}

.dark .control-center-menu .section.quick-actions .button.disabled .icon:hover {
    background-color: var(--hoverDark);
}

.control-center-menu .section.quick-actions .button.active .icon:pressed {
    background-color: var(--hover);
}

.dark .control-center-menu .section.quick-actions .button.active .icon:pressed {
    background-color: var(--hoverDark);
}

.control-center-menu .section.quick-actions .button .title {
    font-size: var(--fontSize);
    margin: 4px 0 8px 0;
    padding: 0;
    font-weight: var(--fontWeight);
    color: var(--text);
}

.dark .control-center-menu .section.quick-actions .button .title {
    color: var(--textDark);
}

/* SLIDERS */
.control-center-menu .section.sliders .slider {
    background: transparent;
    border: none;
    min-height: 34px;
    margin: 0 4px 0 4px;
}
.control-center-menu .section.sliders .slider .icon {
    font-size: 16px;
    color: var(--text);
    min-width: 36px;
}

.dark .control-center-menu .section.sliders .slider .icon {
    color: var(--textDark);
}

.control-center-menu .section.sliders .slider .value {
    min-width: 36px;
    font-size: 12px;
    font-weight: 600;
    color: var(--text);
}

.dark .control-center-menu .section.sliders .slider .value {
    color: var(--textDark);
}

.control-center-menu .section.sliders .slider .source-selector {
    font-size: 12px;
    color: var(--text);
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background-color: var(--background);
    margin-left: 4px;
}

.dark .control-center-menu .section.sliders .slider .source-selector {
    color: var(--textDark);
    background-color: var(--backgroundDark);
}

.control-center-menu .section.sliders .slider .source-selector:hover {
    background-color: var(--hover);
}

.dark .control-center-menu .section.sliders .slider .source-selector:hover {
    background-color: var(--hoverDark);
}

/* POWER PLAN & POWER MODE */
.control-center-menu .section.power .plan-name,
.control-center-menu .section.power .mode-name {
    background: var(--accent);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    min-height: 36px;
    margin: 0 4px;
    padding: 6px 10px;
    cursor: pointer;
}

.dark .control-center-menu .section.power .plan-name,
.dark .control-center-menu .section.power .mode-name {
    background: var(--accentDark);
    border: 1px solid var(--borderDark);
}

.control-center-menu .section.power .plan-name:hover,
.control-center-menu .section.power .mode-name:hover {
    background: var(--accentHover);
}

.dark .control-center-menu .section.power .plan-name:hover,
.dark .control-center-menu .section.power .mode-name:hover {
    background: var(--accentHoverDark);
}

.control-center-menu .section.power .mode-name.disabled,
.control-center-menu .section.power .mode-name.disabled:hover {
    opacity: 0.5;
    background: var(--hover);
}

.dark .control-center-menu .section.power .mode-name.disabled,
.dark .control-center-menu .section.power .mode-name.disabled:hover {
    background: var(--hoverDark);
}

.control-center-menu .section.power .plan-name .title,
.control-center-menu .section.power .mode-name .title {
    font-size: var(--fontSize);
    font-weight: 600;
    color: var(--accentText);
}

.dark .control-center-menu .section.power .plan-name .title,
.dark .control-center-menu .section.power .mode-name .title {
    color: var(--accentTextDark);
}

.control-center-menu .section.power .plan-name .subtext,
.control-center-menu .section.power .mode-name .subtext {
    font-size: var(--fontSize);
    font-weight: 600;
    color: var(--accentText);
}

.dark .control-center-menu .section.power .plan-name .subtext,
.dark .control-center-menu .section.power .mode-name .subtext {
    color: var(--accentTextDark);
}

.control-center-menu .section.power .plan-name.disabled .title,
.control-center-menu .section.power .mode-name.disabled .title {
    font-size: var(--fontSize);
    font-weight: 600;
    color: var(--text);
}

.dark .control-center-menu .section.power .plan-name.disabled .title,
.dark .control-center-menu .section.power .mode-name.disabled .title {
    color: var(--textDark);
}

.control-center-menu .section.power .plan-name.disabled .subtext,
.control-center-menu .section.power .mode-name.disabled .subtext {
    font-size: var(--fontSize);
    font-weight: 600;
    color: var(--text);
}

.dark .control-center-menu .section.power .plan-name.disabled .subtext,
.dark .control-center-menu .section.power .mode-name.disabled .subtext {
    color: var(--textDark);
}

.control-center-menu .section.power .plan-name .icon,
.control-center-menu .section.power .mode-name .icon {
    color: var(--accentText);
    font-size: var(--iconSize);
}

.dark .control-center-menu .section.power .plan-name .icon,
.dark .control-center-menu .section.power .mode-name .icon {
    color: var(--accentTextDark);
}

.control-center-menu .section.power .plan-name.disabled .icon,
.control-center-menu .section.power .mode-name.disabled .icon {
    color: var(--text);
    font-size: var(--iconSize);
}

.dark .control-center-menu .section.power .plan-name.disabled .icon,
.dark .control-center-menu .section.power .mode-name.disabled .icon {
    color: var(--textDark);
}

/* MEDIA CONTROLS */
.control-center-menu .section.media {
    background-color: transparent;
    padding: 12px;
}
.control-center-menu .section.media .track-info {
     padding-left: 8px;
}
.control-center-menu .section.media .title {
    font-size: var(--fontSize);
    font-weight: 600;
    color: var(--text);
}

.dark .control-center-menu .section.media .title {
    font-size: var(--fontSize);
    font-weight: 600;
    color: var(--textDark);
}

.control-center-menu .section.media .subtext {
    font-size: var(--fontSize);
    font-weight: 600;
    color: var(--subtext);
}

.dark .control-center-menu .section.media .subtext {
    color: var(--subtextDark);
}

.control-center-menu .section.media .button {
    font-size: var(--iconSize);
    background-color: var(--accent);
    color: var(--accentText);
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
    border-radius: 6px;
    margin: 0 0 0 4px;
    border-radius: var(--border-radius);
}

.dark .control-center-menu .section.media .button {
    background-color: var(--accentDark);
    color: var(--accentTextDark);
}

.control-center-menu .section.media .button.prev {
    color: var(--accentText);
    background-color: var(--accent);
}

.dark .control-center-menu .section.media .button.prev {
    color: var(--accentTextDark);
    background-color: var(--accentDark);
}

.control-center-menu .section.media .button.next {
    color: var(--accentText);
    background-color: var(--yasb-accent-dark1);
}

.dark .control-center-menu .section.media .button.next {
    color: var(--accentTextDark);
    background-color: var(--accentDark);
}

.control-center-menu .section.media .button.prev.disabled {
    color: var(--text);
}

.dark .control-center-menu .section.media .button.prev.disabled {
    color: var(--textDark);
    background-color: var(--background2Dark);
}

.control-center-menu .section.media .button.next.disabled {
    color: var(--text);
}

.dark .control-center-menu .section.media .button.next.disabled {
    color: var(--textDark);
    background-color: var(--background2Dark);
}

.control-center-menu .section.media .button:hover {
    background-color: var(--accentHover);
}

.dark .control-center-menu .section.media .button:hover {
    background-color: var(--accentHoverDark);
}

.control-center-menu .section.media .button.disabled,
.control-center-menu .section.media .button.disabled:hover {
    background-color: var(--background2);
}

/* Context menu styles for dropdowns and menus inside the Control Center panel */
.control-center-menu .context-menu {
    padding: 4px 0px;
    font-family: "Segoe UI Variable", "Segoe UI";
    font-weight: var(--fontWeight);
    font-size: var(--fontSize);
    color: var(--text);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    background-color: transparent;
}

.dark .control-center-menu .context-menu {
    color: var(--textDark);
    border: 1px solid var(--borderDark);
}

.control-center-menu .context-menu::item {
    background-color: transparent;
    padding: 6px 12px;
    margin: 2px 6px;
    border-radius: var(--border-radius3);
    min-width: 100px;
}
.control-center-menu .context-menu::item:selected  {
    background-color: var(--hover);
    color: var(--text);
}

.dark .control-center-menu .context-menu::item:selected  {
    background-color: var(--hoverDark);
    color: var(--textDark);
}

.control-center-menu .context-menu::separator {
    height: 1px;
    background-color: var(--border);
    margin: 4px 0;
}

.dark .control-center-menu .context-menu::separator {
    background-color: var(--borderDark);
}

.control-center-menu .context-menu::indicator:unchecked {
    width: 4px;
    height: 12px;
    margin-left: 0;
    color: transparent;
    background-color: transparent;
}
.control-center-menu .context-menu::indicator:checked {
    width: 4px;
    height: 12px;
    background-color: var(--accent);
    border-radius: var(--border-radius3);
    margin-left: 0;
}

.dark .control-center-menu .context-menu::indicator:checked {
    background-color: var(--accentDark);
}


.audio-visualizer-widget {
    padding-bottom: 1px;
}

.audio-visualizer-widget .audio-visualizer-canvas {
    qproperty-fillbrush: var(--audio);
}

.dark .audio-visualizer-widget .audio-visualizer-canvas {
    qproperty-fillbrush: var(--audioDark);
}
