/* THEME FONT & COLOR VARIABLES */
:root {
	--accent: #fcf75e; /*Weather, Calendar, Notifications & Updates Icons*/
	--menu_bg: rgba(30, 30, 46, 0.6);
	--menu_bg2: rgba(30, 30, 46, 0.4);
	--update: #673147;
	--update_border: #74c7ec;
	--red: #FF534D; /*Power Button, Net Disconnect*/
	--media: #ff9f00;
	--traffic: #4cbb17;
	--disks: #2196F3;
	--text: #cdd6f4;
	--subtext: #a6adc8;
	--subtext1: #ded6f4;
	--subtext2: #afb5cc;
	--bg: #111111;
	--bg_alpha: rgba(30, 30, 46, 0.85);
	--hourlyweather_bg:rgba(21, 93, 199, 0.85);
	--hover: rgba(255, 255, 255, 0.05);
	--font: 'Roboto';
	--font-size: 12px; /* Applies to most of the theme */
}

/* MAIN */

*{
    font-size: var(--font-size);
    color: var(--text);
    font-weight: bold;
    font-family: "JetBrainsMono NFP"; /* Needed for icons */
    margin: 0;
    padding: 0;
}
.yasb-bar {
	padding: 0;
	margin: 0;
    background-color: var(--bg_alpha);
}
.widget {
    padding: 0 4px;
    margin: 0 4px;
    border-radius: 12px;
    border: 1px solid rgba(128, 128, 128, 0);
}
.widget .icon {
    font-size: 13px;
}
.widget .label {
    color: var(--text);
}

/* HOME */

.home-widget {
    padding-bottom: 1px;
}
.home-widget .icon {
    color: var(--text);
	font-size: 18px;
}
.home-widget .icon:hover {
    color: var(--accent);
}

/* HOME DROPDOWN */

.home-menu {
    background-color: var(--menu_bg);
    padding: 0;
    margin-left: 0px;
}
.home-menu .menu-item {
    padding: 6px 48px 7px 16px;
    font-size: var(--font-size);
    font-family: var(--font);
}
.home-menu .menu-item:hover {
    background-color: var(--hover);
	border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
}
.home-menu .separator {
    max-height: 1px;
    background-color:rgba(128, 130, 158, 0.3);
}

/* WEATHER */

.weather-widget {
    padding: 0;
    padding-left: -5
}
.weather-widget .icon {
    color: var(--accent);
	font-size: 14px;
    padding: 6px;
}
.weather-widget .label {
    font-size: var(--font-size);
    font-family: var(--font);
	color: var(--accent);
}

/* WEATHER DROPDOWN */

.weather-card {
    background-color: var(--menu_bg);
}
.weather-card-today {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background-color:  var(--menu_bg2);
}
.weather-card-today .label {
    font-size: 13px;
	font-family: var(--font);
}
.weather-card-today .label.location {
	font-family: var(--font);
    font-size: 22px;
	color: var(--accent);
}
.weather-card-today .label.alert {
	font-family: var(--font);
    font-size: var(--font-size);
    background-color: var(--menu_bg2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(196, 181, 162, 0.85);
    border-radius: 4px;
    padding: 5px 0;
}
.weather-card-day {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background-color:  var(--menu_bg2);
}
.weather-card-day.active {
    background-color: var(--menu_bg2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.weather-card-day:hover {
    background-color: var(--hover);
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.weather-card-day .label {
    font-size: 13px;
	font-family: var(--font);
}
.weather-card .hourly-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: var(--hourlyweather_bg);
    border-radius: 4px;
    min-height: 150px;
}
.weather-card .hourly-data {
    font-family: var(--font);
    background-color: #FAE93F; /* Curve color */
    font-size: 12px;
}

/* ACTIVE WINDOW */

.active-window-widget .label {
    font-size: var(--font-size);
    font-family: var(--font);
}
.active-window-widget .icon {
    padding-right: 6px;
    border: none;
}

/*CLOCK WIDGET*/

.clock-widget .label {
    font-size: var(--font-size);
    font-family: var(--font);
}

/*CALENDAR DROPDOWN*/

.calendar {
    background-color: var(--menu_bg);
}
.calendar .calendar-table{
	border-radius: 4px;
	background-color: var(--menu_bg2);
}
.calendar .calendar-table,
.calendar .calendar-table::item {
    color: var(--subtext);
    font-family: var(--font);
	font-size: var(--font-size);
    margin: 0;
    padding: 0;
    border: none;
    outline: none;  
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.calendar .calendar-table::item:selected {
    color: var(--accent);
}
.calendar .day-label {
    margin-top: 20px;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-family: var(--font);
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    min-width: 180px;
    max-width: 180px;
}
.calendar .month-label {
    font-weight: 700;
}
.calendar .date-label {
    font-size: 80px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-top: -5px;
	color: var(--accent);
}
.calendar .week-label,
.calendar .holiday-label {
    font-family: var(--font);
    font-size: 12px;
    color: var(--media);
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}

/* DISK WIDGET */

.disk-widget {
    padding: 0 0px 0 0px;
}
.disk-widget .icon {
    padding: 0px;
	color: var(--text);
	font-size: 13px;
}

/* DISK DROPDOWN */

.disk-group {
    background-color: var(--menu_bg);    
}
.disk-group-row {
    min-width: 220px;
    max-width: 220px;
    max-height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    border: 1px solid rgba(128, 128, 128, 0);
}
.disk-group-row:hover {
    background-color: var(--hover);
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.disk-group-label-bar{
    max-height: 8px;
    border:0px solid rgba(128, 128, 128, 0);
    background-color: rgba(148, 226, 213, 0.3);
    border-radius: 4px;
}
.disk-group-label-bar::chunk{
    background-color: var(--disks);
    border-radius: 4px;
}
.disk-group-label {
    font-size: var(--font-size);
}
.disk-group-label-size {
    font-size: var(--font-size);
    color: rgba(205, 214, 244, 0.5);
}

/* AUDIO & MIC WIDGET */

.volume-widget {
    margin-left: 0;
    padding: 0;
}
.volume-widget .icon {
    padding: 0 5px;
    color: white;
	font-size: 13px;
}
.volume-widget .label {
    font-size: var(--font-size);
    font-family: var(--font);
}

.microphone-widget .icon {
    color: white;
	font-size: 12px;
}

/* AUDIO & MIC DROPDOWN */

.audio-menu {
    background-color: var(--menu_bg);
}
.microphone-menu{
	background-color: var(--menu_bg);
}	
.audio-container .device {
    font-family: var(--font);
    background-color: transparent;
    border: none;
    padding:6px 8px 6px 4px;
    margin: 2px 0;
    font-size: var(--font-size);
    border-radius: 4px;
}
.audio-container .device.selected {
    background-color: rgba(255, 255, 255, 0.085);
}
.audio-container .device:hover {
    background-color: var(--hover);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

/* POWER */

.power-menu-widget {
    padding-left: 6px;
}
.power-menu-widget .label {
	color: var(--red);
    font-size: 16px;
}

/* POWER MENU */

.uptime {
	font-size: 16px;
	margin-bottom: 10px;
	color: var(--accent);
	font-weight: 600;
	font-family: var(--font);
}
.power-menu-popup .button {
	padding: 0;
	width: 160px;
	height: 240px;
	border-radius: 6px;
	background-color: var(--bg_alpha);
	font-family: var(--font);
	color: white;
	border: 4px solid rgba(255, 255, 255, 0);
}
.power-menu-popup .button.hover {
	background-color: var(--hover);
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.power-menu-popup .button .label {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.6);
	font-family: var(--font);
}
.power-menu-popup .button .icon {
	font-size: 64px;
	padding-top: 54px;
	color: rgba(255, 255, 255, 0.25);
}
.power-menu-popup .button.cancel .icon {
	color: rgba(243, 139, 168, 0.55);
}
.power-menu-popup .button.cancel .label {
	color: rgba(243, 139, 168, 0.95);
	color: rgba(243, 139, 168, 0.95);
}

/*NOTIFICATIONS*/

.notification-widget .icon {
	font-size: 13px;
	color: var(--accent);
}
.notification-widget .label {
	color: var(--text);
	background-color: var(--red);
	border-radius: 6px;
    padding: 1px 4px;
    font: 8px Verdana;
	font-weight: 800;
	margin: 5px 0 8px 0;
	position: absolute;
	top: 0;
	right: 0;
}

/* MEDIA */
.media-widget .widget-container
{
    background-color: transparent;
    margin: 0px 0 0px 0;
    border-radius: 4px;
}
.media-widget {
	padding: 0;
	margin: 0;
    border-radius: 0;
}
.media-widget .label {
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 0 0px;
	color: var(--media);
    padding: 0px;
    padding-left: 12px;
}
.media-widget .btn {
    color: var(--media);
	padding:0 1px;
	margin: 0;
    font-size: 12px;
	background: rgba(0, 0, 0, 0.01);
}
.media-widget .icon{
    padding: 0 6px;
}
.media-widget .btn:hover {
	color: var(--text);
}
.media-widget .btn.play {
	font-size: 17px;
    max-width: 22px;
    min-width: 22px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
	color: #585b70;
}

/* MEDIA DROPDOWN */

.media-menu {
    min-width: 420px;
    max-width: 420px;
    background-color: var(--menu_bg);
}
.media-menu .source {
    font-size: 12px;
    margin-left: 10px;
    color: #000;
    border-radius: 3px;
    background-color: var(--bg);
    padding: 2px 4px;
}
.media-menu .title{
	font-family: var(--font);
	margin-left: 10px;
	font-size: 14px;
}
.media-menu .artist {
	font-family: var(--font);
    font-size: var(--font-size);
    color: var(--media);
    margin-top: 0px;
    margin-bottom: 8px;
	margin-left: 12px;
}
.media-menu .btn {
    font-size: 13px;
    font-weight: 400;
    margin: 10px 2px 0px 2px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 20px;
}
.media-menu .btn.prev {
    margin-left: 50px;
}
.media-menu .btn:hover {
    color: var(--media);
}
.media-menu .btn.play {
    font-size: 24px;
}
.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
    color: var(--subtext2);
}
.media-menu .playback-time {
	font-family: var(--font);
    font-size: 13px;
    color: var(--subtext1);
    margin-top: 20px;
    min-width: 100px;
}
.media-menu .progress-slider {
    height: 10px;
    margin: 5px 4px;
    border-radius: 3px;
	color: var(--media);
}
.media-menu .progress-slider::groove {
    background: transparent;
    height: 2px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
}
.media-menu .progress-slider::groove:hover {
    background: transparent;
    height: 6px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
}
.media-menu .progress-slider::sub-page {
    background: var(--media);
    border-radius: 3px;
    height: 4px;
}

/* CPU & MEMORY */

.cpu-widget {
    padding-right: 0;
}
.memory-widget {
    padding-left: 0;
}
.cpu-widget .widget-container {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.memory-widget .widget-container {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.memory-widget .label {
	font-family: var(--font);
    min-width: 30px;
    max-width: 80px;
	color: var(--text);
	font-size: var(--font-size);
	padding: 0;
}
.cpu-widget .label {
	font-family: var(--font);
    min-width: 30px;
    max-width: 80px;
	color: var(--text);
	font-size: var(--font-size);
	padding: 0;
}
.cpu-widget .icon {
    color: var(--text);
    margin-right: 4px;
	font-size: 13px;
}
.memory-widget .icon {
    color: var(--text);
    margin-right: 4px;
	font-size: 13px;
}

/* UPDATES */

.update-check-widget {
    padding: 0 0px 0 0px;
}
.update-check-widget .icon {
    font-size: 14px;
	color: var(--accent);
}
.update-check-widget .widget-container.winget,
.update-check-widget .widget-container.windows {
    background: var(--bg_alpha);
    margin: 1px 0px 2px 0px;
    border-radius: 4px;
    border: 0px solid var(--update_border);
}
.update-check-widget .widget-container.winget .icon,
.update-check-widget .widget-container.windows .icon {
    color: var(--accent);
    margin: 0 2px 0 6px;
}
.update-check-widget .widget-container.winget .label,
.update-check-widget .widget-container.windows .label {
	color: var(--text);
	background-color: var(--red);
	border-radius: 6px;
    padding: 1px 4px;
    font: 8px Verdana;
	font-weight: 800;
	margin: 5px 0 8px 0;
	position: absolute;
	top: 0;
	right: 0;
}

/* TRAFFIC */

.traffic-widget .icon {
    color: var(--traffic);
    padding-right: 0px;
    padding-left: 0px;
	font-size: 13px;
}
.traffic-widget .label {
	font-family: var(--font);
	font-size: var(--font-size);
	text-align: right;
	float: right;
	color: var(--traffic);
	min-width: 100px;
	max-width: 190px;
}

/* TRAFFIC DROPDOWN */

.traffic-menu {
    background-color: var(--menu_bg);
    min-width: 280px;
}
.traffic-menu .header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: var(--menu_bg2);
}
.traffic-menu .header .title {
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--font);
    color: var(--accent);
}
.traffic-menu .header .reset-button {
    font-size: var(--font-size);
    padding: 4px 8px;
    margin-right: 8px;
    font-family: var(--font);
    border-radius: 4px;
    background-color: transparent;
    border: none;
}
.traffic-menu .reset-button:hover {
    color: #ffffff;
    background-color: var(--hover);
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.traffic-menu .reset-button:pressed {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* TRAFFIC DROPDOWN SPEEDS & DATA */

.traffic-menu .download-speed,
.traffic-menu .upload-speed {
    background-color: var(--menu_bg2);
    padding: 4px 10px;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 16px;
    margin-bottom: 0;
	border-radius: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.traffic-menu .download-speed {
    margin-left: 12px;
    margin-right: 12px;
}
.traffic-menu .speed-separator {
    max-width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 32px 0 16px 0;
}
.traffic-menu .upload-speed-value,
.traffic-menu .download-speed-value {
    font-size: 22px;
    font-weight: 900;
    font-family: var(--font);
    color: #bcc2c5;
}
.traffic-menu .upload-speed-unit,
.traffic-menu .download-speed-unit {
    font-size: var(--font-size);
    font-family: var(--font);
    padding-top: 4px;
}
.traffic-menu .upload-speed-placeholder,
.traffic-menu .download-speed-placeholder {
    color: #747474;
    font-size: var(--font-size);
    font-family: var(--font);
    padding: 0 0 4px 0;
}
.traffic-menu .section-title {
    font-size: 13px;
    font-weight: 600;
    color: var(--subtext1);
    margin-bottom: 4px;
    font-family: var(--font);
}
.traffic-menu .session-section,
.traffic-menu .today-section,
.traffic-menu .alltime-section {
    margin: 8px 8px 0 8px;
    padding: 0 10px 10px 10px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.traffic-menu .data-text {
    font-size: var(--font-size);
    color: var(--subtext2);
    padding: 2px 0;
    font-family: var(--font);
}
.traffic-menu .data-value {
    font-size: var(--font-size);
    font-family: var(--font);
    padding: 2px 0;
}

/* TRAFFIC FOOTER */

.traffic-menu .interface-info,
.traffic-menu .internet-info {
    font-size: 12px;
    color: var(--subtext2);
    padding: 8px 0;
    font-family: var(--font);
}
.traffic-menu .internet-info {
    background-color: var(--menu_bg2);
}
.traffic-menu .internet-info.connected {
    background-color: var(--menu_bg2);
    color: var(--traffic);
}
.traffic-menu .internet-info.disconnected {
    background-color: var(--menu_bg2);
    color: var(--red);
}

/* NETWORK */

.wifi-widget .icon{
	font-size: 13px;
	font-align: right;
	color: var(--text);
}
.wifi-widget .label{
	font-size: 15px;
	font-align: right;
	color: var(--text);
}

/* NETWORK DROPDOWN */

.wifi-menu {
    font-family: var(--font);
    background-color: rgba(17, 17, 27, 0.4);
    max-height: 350px;
    min-height: 375px;
    min-width: 375px;
}
.wifi-menu .progress-bar {
    max-height: 2px;
}
.wifi-menu .progress-bar::chunk {
    background-color: #4cc2ff;
}
.wifi-menu .header {
    font-family: var(--font);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 2px;
    padding: 12px;
    background-color: rgba(17, 17, 27, 0.6);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .error-message {
    font-family: var(--font);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 2px;
    padding: 12px;
    background-color: red;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .wifi-list {
    background-color: rgba(17, 17, 27, 0.8);
    margin-right: 3px;
}
.wifi-menu .wifi-item {
    min-height: 35px;
    padding: 2px 12px;
    margin: 2px 4px;
}
.wifi-menu .wifi-item:hover {
    background-color: var(--hover);
	border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
.wifi-menu .wifi-item[active=true] {
    background-color: rgba(255, 255, 255, 0.15);
    font-size: var(--font-size);
    border-radius: 4px;
    min-height: 80px;
}
.wifi-menu .wifi-item .icon {
    font-family: 'Segoe Fluent Icons';
    font-size: 26px;
    margin-right: 10px;
}
.wifi-menu .wifi-item .name {
    font-family: var(--font);
    font-size: var(--font-size);
    margin-right: 10px;
}
.wifi-menu .wifi-item .password {
    font-family: var(--font);
    background-color: transparent;
    font-size: var(--font-size);
}
.wifi-menu .wifi-item .status {
    font-family: var(--font);
    font-size: var(--font-size);
}
.wifi-menu .wifi-item .strength {
    font-family: var(--font);
    font-size: var(--font-size);
}
.wifi-menu .wifi-item .controls-container {
    padding-top: 8px;
}
.wifi-menu .wifi-item .connect {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 4px 30px;
    border-radius: 4px;
    border: none;
    font-size: var(--font-size);
}
.wifi-menu .wifi-item .connect:hover {
    background-color: var(--hover);
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .wifi-item .connect:pressed {
    background-color: rgba(255, 255, 255, 0.3);
}
.wifi-menu .footer {
    font-size: var(--font-size);
    font-weight: 600;
    padding: 12px;
    margin-top: 2px;
    color: #9399b2;
    background-color: rgba(17, 17, 27, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .footer .settings-button {
    font-family: var(--font);
    background-color: transparent;
    border: none;
    padding: 0 2px;
    min-width: 26px;
    min-height: 26px;
    color: #fff;
}
.wifi-menu .footer .refresh-icon {
    font-family: 'Segoe Fluent Icons';
    background-color: transparent;
    border: none;
    min-width: 26px;
    min-height: 26px;
    color: #fff;
}
.wifi-menu .footer .refresh-icon:hover {
    background-color: var(--hover);
	border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

/* CAVA */

.cava-widget {
    padding: 0;
    margin: 0;
}
.cava-widget .widget-container {
	background-color: transparent;
}

/* CPU & MEMORY GROUP */

.sysinfo-grouped-widgets .container {
    background-color: var(--bg_alpha);
    margin: 2px 0 2px 0;
    border-radius: 4px;
}
