:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #282936;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
    --main: #10151d;
}
/* Global menu section, widgets. labels and icons */
QToolTip {
    margin: 6px;
    color: #cdd6f4;
    font-size: 12px;
    background-color: #1e1e2e;
    border: 0px solid #313244;
    border-radius: 6px;
}
* {
    font-size: 12px;
    color: var(--subtext0);
    font-weight: 600;
    font-family: Arial, Helvetica;
    margin: 0;
    padding: 0;
}
.widget {
    padding: 0 14px;
    margin: 0;
    background-color: var(--mantle);
    margin: 0 1px;
    border-radius: 4px;
}
.icon,
.power-menu-widget .label {
    font-family: "JetBrainsMono NFP";
    font-size: 16px;
}
.widget .label {
    padding: 0 2px 0 2px;
}
.home-widget,
.disk-widget {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.power-menu-widget,
.apps-widget {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.traffic-widget {
    min-width: 76px;
}
.traffic-widget .label {
    font-size: 11px;
}
.apps-widget .label:hover {
    color: #fff;
}

.komorebi-workspaces .offline-status {
    color: var(--green);
    padding: 0;
}
.komorebi-workspaces .ws-btn {
    border: none;
    background-color: var(--overlay1);
    margin: 0 4px;
    font-size: 0px;
    color: transparent;
    width: 12px;
    height: 12px;
    border-radius: 6px;
}
.komorebi-workspaces .ws-btn:hover {
    background-color: var(--subtext1);
}
.komorebi-workspaces .ws-btn.populated {
    background-color: var(--lavender);
}
.komorebi-workspaces .ws-btn.active {
    color: transparent;
    background-color: var(--blue);
    width: 36px;
    max-width: 36px;
    height: 12px;
}
.komorebi-workspaces .float-override {
    color: var(--green);
    padding-left: 6px;
}

/* Icons settings and colors */
.home-widget .icon {
    color: var(--sky);
}
.cpu-widget .icon {
    color: var(--green);
    margin-right: 6px;
}
.memory-widget .icon {
    color: var(--yellow);
    margin-right: 6px;
}
.wifi-widget .icon {
    color: var(--blue);
}
.volume-widget .icon {
    color: var(--pink);
    margin-right: 6px;
}
.power-menu-widget .label {
    color: var(--red);
}
.disk-widget .icon {
    color: var(--lavender);
}
.notification-widget .icon {
    margin-right: 6px;
}
.notification-widget .icon,
.notification-widget .label {
    color: var(--sky);
}
.weather-widget .icon {
    color: var(--yellow);
    font-size: 20px;
    margin-right: 6px;
}

/* Popup window style */
.calendar {
    background-color: var(--mantle);
}
.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: transparent;
    color: rgba(162, 177, 196, 0.85);
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.calendar .calendar-table::item:selected {
    color: var(--crust);
    background-color: var(--blue);
    border-radius: 10px;
}
.calendar .day-label {
    margin-top: 20px;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-size: 16px;
    color: var(--subtext0);
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}
.calendar .month-label {
    font-weight: normal;
}
.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-top: -20px;
}
.home-menu {
    background-color: var(--mantle);
}
.home-menu .menu-item {
    padding: 8px 38px 9px 16px;
    font-size: 12px;
    font-family: 'Segoe UI';
    color: var(--text);
    font-weight: 600;
}

.home-menu .menu-item:hover {
    background-color: rgba(128, 130, 158, 0.15);
    color: #fff;
}

.home-menu .separator {
    max-height: 1px;
    background-color: rgba(128, 130, 158, 0.3);
}
.disk-group {
    background-color: var(--mantle);
}
.disk-group-row {
    min-width: 220px;
    max-width: 220px;
    max-height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    border: 1px solid rgba(128, 128, 128, 0);

}
.disk-group-row:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.disk-group-label-bar {
    max-height: 8px;
    border: 0px solid rgba(128, 128, 128, 0);
    background-color: rgba(137, 180, 250, 0.1);
    border-radius: 4px;
}
.disk-group-label-bar::chunk {
    background-color: rgba(61, 135, 255, 0.3);
    border-radius: 14px;
}
.disk-group-label {
    font-family: 'Segoe UI';
}
.disk-group-label-size {
    font-weight: 600;
    font-family: 'Segoe UI';
    font-size: 11px;
    color: #666879;
}
.power-menu-popup {
    background-color: transparent
}
.power-menu-popup .button {
    padding: 0;
    width: 180px;
    height: 230px;
    border-radius: 8px;
    background-color: var(--mantle);
    color: var(--text);
    border-left: 4px solid rgba(58, 59, 83, 0);
    border-right: 4px solid rgba(58, 59, 83, 0);
    border-top: 4px solid rgba(58, 59, 83, 0);
    border-bottom: 4px solid rgba(58, 59, 83, 0);
    margin: 0px;
}
.power-menu-popup .button.hover {
    background-color: var(--base);
    border-left: 4px solid var(--base);
    border-right: 4px solid var(--base);
    border-top: 4px solid var(--base);
    border-bottom: 4px solid var(--base);
}

.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--overlay2)
}
.power-menu-popup .button .icon {
    font-size: 64px;
    padding-top: 32px;
    color: var(--surface2)
}

.power-menu-popup .button.cancel .icon {
    padding: 0;
    margin: 0;
}
.power-menu-popup .button.cancel .label {
    color: var(--red);
    margin: 0;
}
.power-menu-popup .button.cancel {
    height: 32px;
    border-radius: 4px;
}
.weather-card {
    background-color: var(--mantle)
}
.weather-card-today .label {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Segoe UI';
}
.weather-card-today .label.location {
    font-size: 24px;
    font-weight: 600;
}
.weather-card-day {
    background-color: var(--base);
    border: 1px solid rgba(128, 128, 128, 0.21);
    border-radius: 8px;
}
.weather-card-day .label {
    font-weight: 600;
    font-family: 'Segoe UI';
}
.weather-card-today .label.arert {
    font-size: 12px;
    font-weight: 600;
    background-color: rgba(247, 199, 42, 0.05);
    border: 1px solid rgba(247, 209, 42, 0.1);
    color: rgba(196, 181, 162, 0.85);
    border-radius: 6px;
    padding: 5px 0;
}
.audio-menu {
    background-color: var(--mantle)
}
