watch_stylesheet: true
watch_config: true
debug: false
update_check: true
komorebi:
  start_command: "komorebic start --whkd"
  stop_command: "komorebic stop --whkd"
  reload_command: "komorebic reload-configuration"
bars:
  primary-bar:
    enabled: true
    screens: ["*"]
    class_name: "yasb-bar"
    alignment:
      position: "top"
      center: false
    blur_effect:
      enabled: false
      acrylic: false
      dark_mode: true
      round_corners: false
      border_color: "None"
    window_flags:
      always_on_top: true
      windows_app_bar: true
      hide_on_fullscreen: true
    dimensions:
      width: "100%"
      height: 30
    padding:
      top: 1
      left: 1
      bottom: 1
      right: 1
    widgets:
      left: []
      center:
        - "komorebi_active_layout"
        - "komorebi_workspaces"
        - "traffic"
        - "cpu"
        - "active_window"
        - "media"
        - "systray"
      right:
        - "clock"
        - "volume"
        - "notifications"

widgets:
  komorebi_active_layout:
    type: "komorebi.active_layout.ActiveLayoutWidget"
    options:
      hide_if_offline: true
      label: "{icon}"
      layouts:
        - "bsp"
        - "columns"
        - "rows"
        - "grid"
        - "scrolling"
        - "vertical_stack"
        - "horizontal_stack"
        - "ultrawide_vertical_stack"
        - "right_main_vertical_stack"
      layout_icons:
        bsp: "\uebeb"
        columns: "\uebf7"
        rows: "\uec01"
        grid: "\udb81\udf58"
        scrolling: "\uebf7"
        vertical_stack: "\uebee"
        horizontal_stack: "\uebf0"
        ultrawide_vertical_stack: "\uebee"
        right_main_vertical_stack: "\uebf1"
        monocle: "\uf06f"
        maximized: "\uf06f"
        floating: "\uf2d2"
        paused: "\udb83\udf89"
        tiling: "\udb81\ude40"
      callbacks:
        on_left: "toggle_layout_menu"
        on_middle: "toggle_tiling"
        on_right: "next_layout"
      layout_menu:
        blur: false
        round_corners: true
        round_corners_type: "normal"
        border_color: "System"
        alignment: "left"
        direction: "down"
        offset_top: 0
        offset_left: 0
        show_layout_icons: true

  komorebi_workspaces:
    type: "komorebi.workspaces.WorkspaceWidget"
    options:
      label_offline: "<span>\ueb96</span>"
      label_default_name: ""
      label_zero_index: false
      hide_empty_workspaces: true
      hide_if_offline: true

  systray:
    type: "yasb.systray.SystrayWidget"
    options:
      class_name: "systray"
      label_collapsed: "\uf207"
      label_expanded: "\ue76c"
      icon_size: 16
      show_unpinned: false
      show_unpinned_button: true
      show_battery: false
      show_volume: false
      show_network: false

  traffic:
    type: "yasb.traffic.TrafficWidget"
    options:
      label: "<span>\ueda3</span>"
      label_alt: "\uea9a {download_speed} | {upload_speed} \ueaa1"
      update_interval: 1000
      callbacks:
        on_left: "toggle_menu"
        on_right: "toggle_label"

  cpu:
    type: "yasb.cpu.CpuWidget"
    options:
      label: "<span>\ue950</span> {info[percent][total]}%"
      label_alt: "{info[histograms][cpu_percent]}"
      update_interval: 1000
      histogram_icons:
        - '\u2581' # 0%
        - '\u2581' # 10%
        - '\u2582' # 20%
        - '\u2583' # 30%
        - '\u2584' # 40%
        - '\u2585' # 50%
        - '\u2586' # 60%
        - '\u2587' # 70%
        - '\u2588' # 80%+
      histogram_num_columns: 8
      callbacks:
        on_left: "toggle_cpu_menu"
        on_middle: "exec cmd /c Taskmgr"
        on_right: "toggle_label"
      container_padding:
        top: 0
        left: 0
        bottom: 0
        right: 0

  volume:
    type: "yasb.volume.VolumeWidget"
    options:
      label: "<span>{icon}</span>{level}"
      volume_icons:
        - "\ue74f" # Icon for muted
        - "\ue992" # Icon for 0-10% volume
        - "\ue993" # Icon for 11-30% volume
        - "\ue994" # Icon for 31-60% volume
        - "\ue995" # Icon for 61-100% volume
      audio_menu:
        blur: false
        round_corners: true
        round_corners_type: "normal"
        border_color: "System"
        alignment: "right"
        direction: "down"
      callbacks:
        on_left: "toggle_volume_menu"
        on_right: "toggle_mute"
      label_shadow:
        enabled: true
        color: "black"
        radius: 5
        offset: [0, 0]

  clock:
    type: "yasb.clock.ClockWidget"
    options:
      label: "{%I:%M %p}"
      label_alt: "{%A, %d %B %Y}"
      callbacks:
        on_left: "toggle_calendar"
        on_right: "toggle_label"
      label_shadow:
        enabled: true
        color: "black"
        radius: 5
        offset: [0, 0]

  media:
    type: "yasb.media.MediaWidget"
    options:
      label: "{title}"
      label_alt: "{artist}"
      callbacks:
        on_left: "toggle_media_menu"
        on_middle: "toggle_play_pause"
        on_right: "toggle_label"
      max_field_size:
        label: 20
        label_alt: 20
      hide_empty: true
      scrolling_label:
        enabled: false
        update_interval_ms: 33
        ease_slope: 20
        ease_pos: 0.8
        ease_min: 0.5
      icons:
        prev_track: "\ue892"
        next_track: "\ue893"
        play: "\ue768"
        pause: "\ue769"
      media_menu:
        blur: false
        round_corners: true
        round_corners_type: "normal"
        border_color: "system"
        alignment: "right"
        direction: "down"
        offset_top: 0
        offset_left: 0
        thumbnail_corner_radius: 6
        thumbnail_size: 100
        max_title_size: 80
        max_artist_size: 20
        show_source: true
      media_menu_icons:
        play: "\ue768"
        pause: "\ue769"
        prev_track: "\ue892"
        next_track: "\ue893"

  notifications:
    type: "yasb.notifications.NotificationsWidget"
    options:
      label: "<span>\ue7e7</span> {count}"
      label_alt: "{count} notifications"
      hide_empty: true
      tooltip: false
      container_padding:
        top: 0
        left: 10
        bottom: 0
        right: 12
      callbacks:
        on_left: "toggle_notification"
        on_middle: "clear_notifications"
        on_right: "toggle_label"
      label_shadow:
        enabled: true
        color: "black"
        radius: 5
        offset: [0, 0]

  active_window:
    type: "yasb.active_window.ActiveWindowWidget"
    options:
      label: "{win[title]}"
      label_alt: "{win[process][name]}"
      label_no_window: ""
      label_icon: false
      label_icon_size: 16
      max_length: 30
      max_length_ellipsis: "..."
      monitor_exclusive: false
      animation:
        enabled: false
        duration: 200
        type: "fadeInOut"
      rewrite:
        - pattern: "Visual Studio Code"
          replacement: "VSC"
        - pattern: "Zen Browser"
          replacement: "Zen"
      ignore_window:
        classes: []
        processes: []
        titles:
          - Task Switching
          - Magnifier
          - Notification Center
          - Raycast
          - Windows Shell Experience Host
          - Shut Down Windows
      callbacks:
        on_left: "do_nothing"
        on_right: "toggle_label"
