:root {
    /* colors from the gruvbox material mix medium/soft palette */
    --yellow: #e9b143;
    --red: #f2594b;
    --bg0: #32302f;
    --bg1: #32302f;
    --bg2: #3c3836;
    --bg3: #45403d;
    --bg4: #504945;
    --bg5: #665c54;
    --bg_dim: #282828;
    --grey0: #7c6f64;
    --grey1: #928374;
    --grey2: #a89984;
    --fg0: #e2cca9;

--accent: #e9b143;
    --background: rgba(69, 64, 61, 0.85); /*bg3*/
    --background-widget: rgba(50, 48, 45, 0.6); /*bg0*/
    --text: #e2cca9;
}

/* GLOBAL */
* {
    font-size: 11px;
    color: var(--text);
    font-weight: 900;
    font-family: "JetBrainsMono NFP";
    margin: 0;
    padding: 0;
}

.yasb-bar {
    padding: 0 2px;
    background-color: var(--background);
    border-radius: 6px;
}

.icon {
    color: var(--accent);
    font-size: 14px;
    margin: 0 5px;
}

.label {
    padding: 0 6px 0 0;
    margin: 0 3px 0 0;
}

.widget {
    padding: 0 3px;
    margin: 0;
}

.widget-container {
    background-color: var(--background-widget);
    margin: 4px 0px;
    border-radius: 6px;
}

.widget .label {
    padding: 2px 2px 1px 5px;
}

/* CALENDAR */

.calendar {
    background-color: var(--bg_dim);
    border-radius: 6px;
    border: 1px solid var(--grey1);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: var(--bg_dim);
    color: var(--fg0);
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
}

.calendar .calendar-table::item:selected {
    color: rgb(255, 255, 255);
    border-radius: 6;
    border: 1px solid var(--accent)
}

.calendar .day-label {
    margin-top: 20px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-family: 'Segoe UI';
    font-size: 16px;
    color: var(--fg0);
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}

.calendar .month-label {
    font-weight: normal;
}

.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: var(--fg0);
    margin-top: -20px;
}

.komorebi-workspaces .offline-status {
    color: var(--text);
    font-size: 12px;
    padding: 0 0px;
    font-weight: 600;
}

.komorebi-workspaces .ws-btn {
    border: none;
    margin: 0 3px;
    height: 10px;
    width: 9px;
    border-radius: 2px;
    background-color: var(--bg4);
    color: rgba(0, 0, 0, 0);
}

.komorebi-workspaces .ws-btn:hover {
    color: rgba(0, 0, 0, 0);
    background-color: var(--grey0);
}

.komorebi-workspaces .ws-btn.populated:hover {
    color: rgba(0, 0, 0, 0);
    background-color: var(--grey1);
}

.komorebi-workspaces .ws-btn.populated {
    color: rgba(0, 0, 0, 0);
    background-color: var(--grey1);
}

.komorebi-workspaces .ws-btn.active {
    color: rgba(0, 0, 0, 0);
    background-color: var(--accent);
    height: 13px;
}

.komorebi-active-layout {
    padding: 0 0px 0 0;
}

.komorebi-active-layout .label {
    font-weight: 600;
    padding: 2px 0 0 0;
}

/*POWER MENU WIDGET*/

.power-menu-widget .label {
    color: var(--accent);
    font-size: 16px;
}

.power-menu-popup .button {
    width: 160px;
    height: 240px;
    border-radius: 6px;
    background-color: var(--bg3);
    font-family: "Segoe UI";
    color: white;
    border: 4px solid rgba(255, 255, 255, 0);

}

.power-menu-popup .button.hover {
    background-color: var(--bg1);
    border: 4px solid var(--bg1);
}

.power-menu-popup .button .label {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--fg0);
    font-family: "Segoe UI";
    display: inline-block;
    text-align: center;
}

.power-menu-popup .button .icon {
    font-size: 64px;
    padding-top: 54px;
    color: var(--fg0);
}

.power-menu-popup .button.cancel {
    height: 32px;
}

.power-menu-popup .button.cancel .label {
    color: var(--red);
}

/* WEATHER */
.weather-widget .icon {
    font-size: 16px;
}
 
/* Weather Card*/

.weather-card-today {
    border: 1px solid var(--grey1);
    border-radius: 8px;
    background-color: var(--background);
}

.weather-card-today .label {
    font-size: 12px;
}

.weather-card-today .label.location {
    font-size: 24px;
    font-weight: 700;
}

.weather-card-today .label.arert {
    font-size: 12px;
    font-weight: 700;
    background-color: rgba(247, 199, 42, 0.05);
    border: 1px solid rgba(247, 209, 42, 0.1);
    color: rgba(196, 181, 162, 0.85);
    border-radius: 6px;
    padding: 5px 0;
}

.weather-card-day {
    border: 1px solid var(--grey1);
    border-radius: 8px;
    background-color: var(--bg_dim);
}

.weather-card-day .label {
    font-size: 12px;
}

/* MEDIA */

.media-widget .label {
    padding: 0 10px;
}

.media-widget .btn {
    color: var(--accent);
    padding: 0 0px;
    padding-right: 0px;
    margin: 4px 0;
    font-family: Segoe Fluent Icons;
}

.media-widget .btn:hover {
    color: var(--subtext0);
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    color: var(--surface1);
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
}

/* VOLUME */

.volume-slider {
    border: none;
}
.volume-slider::groove {
    color: var(--accent)
}
.volume-slider::handle{
    color: var(--accent)
} 
.audio-menu {
    background-color: var(--bg_dim); 
    border: 1px solid var(--grey1);
    border-radius: 6px;
}
.audio-container .device {
    background-color:transparent;
    border: none;
    padding:6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 4px;
}
.audio-container .device.selected {
    background-color: rgba(255, 255, 255, 0.085);
}
.audio-container .device:hover {
    background-color: rgba(255, 255, 255, 0.06);
}
