* {
	font-size: 13px;
	color: #ffffff;
	font-weight: 600;
	font-family: "Segoe UI","JetBrainsMono NFP";
	margin: 0;
	padding: 0;
}
.yasb-bar {
	padding: 0 8px;
	margin: 0;
    background-color: rgba(25, 25, 25, 0.7);
}
.widget {
	padding: 0 8px;
	margin: 0;
}
.widget .label {
	padding: 0px 2px 2px 2px;
}
.widget .label.alt {
	padding: 1px 8px 1px 8px;
}
.apps-widget {
    padding: 0;
}
.apps-widget .widget-container {
    background-color: transparent;
}
.apps-widget .label {
	font-size: 14px;
	padding:0px 2px 1px 2px;
	margin: 0 8px;
}
.apps-widget .label:hover {
	color: #fff;
}
.active-window-widget .icon {
    padding: 0 0 0 0;
}
/*POWER MENU WIDGET*/
.uptime {
	font-size: 14px;
	margin-bottom: 10px;
	color: #ffffff;
	font-weight: 600;
	font-family: "Segoe UI";
}
.power-menu-widget .label {
	font-size: 13px;
}
.power-menu-popup {
	background-color: rgba(24, 24, 37, 0.103);
	border-radius: 12px;
}
.power-menu-popup .button {
	padding: 0;
	width: 240px;
	height: 120px;
	border-radius: 8px;
	background-color: rgba(41, 42, 58, 0.497);
	font-family: "Segoe UI";
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.1);
	margin: 8px;
}
.power-menu-popup .button.hover {
	background-color: rgba(41, 42, 58, 0.74);
	border: 1px solid rgb(55, 56, 75);
}
.power-menu-popup .button .label {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 600;
	color: rgb(255, 255, 255);
	font-family: "Segoe UI";
}
.power-menu-popup .button .icon {
	font-size: 48px;
	padding-top: 8px;
}
.power-menu-popup .button.cancel .icon {
	color: rgba(243, 139, 168, 0.75);
}
.power-menu-popup .button.cancel .label {
	color: rgba(243, 139, 168, 0.95);
}
.power-menu-popup .button.shutdown .icon {
	color: rgba(137, 180, 250, 0.75);
}
.power-menu-popup .button.shutdown .label {
	color: rgba(137, 180, 250, 0.95);
}

/* ICONS */
.icon {
	font-size: 16px;
}
.volume-widget .icon {
	color: #89b4fa;
	margin: 1px 2px 0 0;
}
 
/* WEATHER WIDGET */
.weather-widget .icon {
	font-size: 16px;
	margin: 0 2px 1px 0;
}
.weather-widget .icon.sunnyDay {
	color: rgb(221, 210, 107);
}
.weather-widget .icon.clearNight {
	color: rgb(107, 189, 221);
	font-size: 22px;
	margin: 1px 2px 0px 0;
}

/* MEDIA WIDGET */
.media-widget {
	padding: 0;
	margin: 0 8px 0 0px;
	border-radius: 16px;
}
.media-widget .label {
	display: none;
	background-color: rgba(0, 0, 0, 0.0);
}
.media-widget .btn {
	color: #ffffff;
	padding: 0 0;
	margin: 0px 0;
    font-weight: 500;
	font-family: Segoe Fluent Icons;
	font-size: 1px;
}
.media-widget .btn:hover {
	color: #ffffff;
}
.media-widget .btn.play {
	font-size: 17px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
	color: #7d8297;
	background-color: rgba(0, 0, 0, 0);
}

/* TASBAR WIDGET */
.taskbar-widget {
    padding: 0;
    margin: 0;
}
.taskbar-widget .app-icon {
    padding: 0 8px;
}
.win-button-widget .label {
    font-size: 18px;
}

/* SYSTEM TRY */

.systray {
    background: transparent;
    border: None;
    margin: 0;
}

.systray .unpinned-container {
    background: transparent;
    border-radius: 8px;
}

.systray .pinned-container {
    background: transparent;
}

.systray .button {
    border-radius: 4px;
    padding: 0 6px;
	margin: 4px;
}

.systray .button:hover {
    background: transparent;
}

.systray .button[dragging=true] {
    border-color: rgba(211, 211, 211, 0.705);
}

.systray .unpinned-visibility-btn {
    border-radius: 4px;
    height: 20px;
    width: 16px;
}

.systray .unpinned-visibility-btn:checked {
    background: transparent;
}

.systray .unpinned-visibility-btn:hover {
    border-radius: 4px;
}

/* HOME MENU */

.home-widget {
    padding: 2px 4px 2px 0px;    
}
.home-widget .widget-container {
    background-color: transparent;
}
.home-widget .icon:hover {
    color: white;
}
.home-menu {
    background-color: rgba(36, 36, 36, 0.604);
}
.home-menu .menu-item {
    padding: 8px 48px 9px 16px;
    font-size: 12px;
    font-family: 'Segoe UI';
    color:white;
    font-weight: 600;
}
.home-menu .menu-item:hover {
    background-color: rgba(157, 180, 141, 0.116);
    color: #fff;
}
.home-menu .separator {
    max-height: 1px;
    background-color: rgba(157, 180, 141, 0.116);
}

/* NOTIFICATIONS */

.notification-widget {
    padding: 0 8px 0 8px;
}

.notification-widget .widget-container {
	margin: 0;
}

.notification-widget .icon {
    font-size: 15px;
}

/*AUDIO DROPDOWN*/

.audio-menu {
	background-color: rgba(36, 36, 36, 0.604);
	padding: 0 0 12px 0 
}
.audio-container .device {
	font-size: 13px;
    font-family: 'Segoe UI';
    background-color: transparent;
    border: none;
    padding: 7px 4px 7px 4px;
    margin: 2px 0;
    border-radius: 4px;
	text-align: left;
}
.audio-container .device.selected {
    background-color: rgba(255, 255, 255, 0.085);
}
.audio-container .device:hover {
    background-color: rgba(255, 255, 255, 0.06);
}

/*CLOCK - CALENDAR WIDGET DROPDOWN*/

.calendar {
    background-color: rgba(36, 36, 36, 0.604);
	padding: 10px 25px 10px 0px;
}

.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: transparent;
    color: white;
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
    border: none;
    outline: none;  
}

.calendar .calendar-table::item:selected {
	background-color: #4cc2ff;
	color: #153647;
	border-radius: 12px;
}
.calendar .day-label {
    margin-top: 10px;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-family: 'Segoe UI';
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}
.calendar .month-label {
    font-weight: normal;
}
.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-top: -20px;
}

/*TOOLTIPS*/

QToolTip {
    padding: 4px;
    color: white;
    font-size: 12px;
    background-color: rgb(36, 36, 36);
}